body{
  background:#020617;
  font-family:Arial, sans-serif;
  color:#fff;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  margin:0;
}

/* LOGIN */
.login{
  background:#1e293b;
  padding:25px;
  border-radius:15px;
  width:280px;
  text-align:center;
}
.login input{
  width:100%;
  padding:10px;
  margin:8px 0;
  border-radius:8px;
  border:none;
}
.login button{
  width:100%;
  padding:10px;
  background:#22c55e;
  border:none;
  border-radius:8px;
  font-size:16px;
}
#msg{color:#f87171;font-size:12px}

/* APP */
.card{
  background:#1e293b;
  padding:25px;
  border-radius:18px;
  width:300px;
  text-align:center;
  box-shadow:0 0 20px rgba(0,0,0,0.6);
}
.signal{
  font-size:18px;
  margin:10px 0;
}
.timer{
  font-size:13px;
  color:#facc15;
}
.disclaimer{
  font-size:10px;
  color:#fbbf24;
}
